body {
margin: 40px auto;
width: 700px;
background: white;
padding: 30px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

h1, h2 {

text-decoration: underline;

}

h1 {

width: 300px;     
margin: 0px auto; 

}

img{
display:block;
width:auto;
margin-left:auto;
margin-right:auto

}

